body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #1e1e1e;
  font-family: Arial, sans-serif;
}

.calculator {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px #000;
  width: 320px;
}

#display {
  width: 93%;
  height: 60px;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #111;
  color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background: #444;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #666;
}

.zero {
  grid-column: span 2;
}

.equal {
  background: #ff9500;
}

.equal:hover {
  background: #e68a00;
}
